:root {
  /* Шрифты  */
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Cera Pro', sans-serif;
  --third-family: 'Montserrat Alternates', sans-serif;

  /* Основное цвета*/
  --dark: #0a1f38;
  --dark-middle: #1b2f46;
  --dark-light: #2f4056;
  --gray: #9da5af;
  --green-dark: #819400;
  --green-middle: #97ab0d;
  --green: #a5bb0c;
  --green-light: #b1c909;
  --white: #fff;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/

/*
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
